/* ---------- heading ---------- */

h1 {
    font-family:serif;
    color:darkturquoise;
    font-size: 30px;
    text-align: center;
    
}

/* ---------- body ---------- */

body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
}

/* ---------- container ---------- */
.container{
    padding:10px;
    width:380px;
    height: 500px;
    margin:0 auto;
    background-color: #FDCFB3;
}

/* ---------- content ---------- */
.content{
    width:380px;
    height: 500px;
    max-height:500px;
    background-color: white;
    overflow: auto;
}

.content ul{
    padding:0;
    margin:0;
}

/* ---------- header ---------- */
.header{
    width: 380px;
    height: 100px;
    margin: 0 auto;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-color: #CEC8E4; 
    position: relative;
}

/* ---------- add item field---------- */

.addItem {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
}


.addItem .fa{
     font-size: 15px;
    color: green;
    
    
}

/* ---------- list ---------- */

.item{
    width: 380px;
    height: 5px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    background-color: #F3FAF1;
    padding: 0;
    margin: 0;
}
.item i.far{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.far:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:green;
}
.item p.text{
    position: absolute;
    padding:0;
    margin: 5px;
    font-size: 15px;
    left:50px;
    top:5px;
    color: black;
    max-width:285px;
}
.item p.text-done{
    
    position: absolute;
    padding:0;
    margin: 5px;
    font-size: 15px;
    left:50px;
    top:5px;
    text-decoration: line-through;
    color : #ccc;
    max-width:285px;

}
.item i.fas{
    position: absolute;
    font-size: 15px;
    right:15px;
    top:10px;
    color: red;
}
.item i.fas:hover{
    color:#af0000;
    cursor: pointer;
}



